.conteiner {
    background-color: white;
}

.secman {
    border: 5px solid blue;
    margin: 25px;
    padding: 25px;
    background-color: blue;
    width: 80%;
    margin-left: 10%;
}

.men {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}